@import "../utils/variables";
.header-container {
  display: flex;
  height: 80px;
  background: $backgroundColorWhite;
  justify-content: space-between;
  align-items: center;
}

.nav__web {
  font-family: $secondFontFamily;
  font-style: normal;
  font-weight: $fontWeightTitle;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: $letterSpacing1;
  margin-left: 15px;
}

.color-web {
  color: $colorBlue;
}

.color-studio-header {
  color: $colorWeb;
}

.nav,
.navigation-list,
.contacts {
  display: flex;
  align-items: center;
}

.navigation-list {
  gap: $size2;
  &__item a:hover {
    color: #2196f3;
    padding-bottom: 24px;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
  }
}

.contacts {
  gap: 40px;
  &__svg {
    margin-right: 10px;
  }
  &__link {
    color: $colorBlack;
    &:hover,
    &__item:hover {
      color: $colorBlue;
      fill: $colorBlue;
    }
  }
}

.navigation-list__item__style,
.contacts__link {
  font-weight: $fontWeightLink;
  font-size: 14px;
  line-height: $size1;
  letter-spacing: $letterSpacing2;
  color: $colorBlack;
  transition: fill, color 250ms $transitionTypeCubic;
}

.curent-page {
  padding-bottom: 24px;
  border-bottom: 4px solid $colorBlue;
  border-radius: 2px;
}

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}
