/*color variables*/
$colorBlue: #2196f3;
$colorWeb:#000000;
$colorBlack: #212121;
$colorGray: #757575;
$colorWhiteGray: #f5f4fa;
$colorGray: #2f303a;
$colorCustomers:#AFB1B8;
$backgroundColorWhite: #ffffff;
$backgroundModal:rgba(0, 0, 0, 0.2);
/*size variables*/
$nulSize: 0px;
$maximumPercent:100%;
$usualSize:30px;
$tenSize:10px;
$usualMargin:94px;
$size1:16px;
$size2:50px;
$size3:20px;
$size4:14px;
/*tarnsition tybe variables*/
$transitionTypeCubic: cubic-bezier(0.4, 0, 0.2, 1);
/*fonts variables*/
$fontWeightTitle:700;
$fontWeightLink:500;
$fontWeightSubtittle:400;
$borderRadius:4px;
$fontStyle:normal;
$primaryFontFamily:"Roboto";
$secondFontFamily:"Raleway";
$letterSpacing1: 0.03em;
$letterSpacing2:0.02em;
 